<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="inOutService" class="ru.aaxee.spring.homework1.service.ConsoleInOutService"/>

    <bean id="studentService" class="ru.aaxee.spring.homework1.service.ConsoleStudentService">
        <constructor-arg name="inOutService" ref="inOutService"/>
    </bean>

    <bean id="quizLoaderService" class="ru.aaxee.spring.homework1.service.CsvQuizLoaderService"/>

    <bean id="quizService" class="ru.aaxee.spring.homework1.service.ConsoleQuizService">
        <constructor-arg name="inOutService" ref="inOutService"/>
    </bean>

    <bean id="resultPrintService" class="ru.aaxee.spring.homework1.service.ConsoleResultPrintService">
        <constructor-arg name="congratulation" value="Поздравляем!"/>
        <constructor-arg name="inOutService" ref="inOutService"/>
    </bean>
</beans>